<!--The content below is only a placeholder and can be replaced.-->




<table style="border:2px">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
      <td>
         <div class="a">
           this is a long text skkdsajfcdkjckjshkjwvdckjss nbcksjdnhclkdsajhcksj ncdkjsdcksjdcskjdnckjds ncks jcgdcjdsgccjdsckjdsbc 
             dsckjadbckasjb ckja kjb ckjdbakjxcbdsakjbcjhbsanx lksajnk;djc bkjdsab cksa nksd bkjdc
             lksdjclkawhcdajdckjf
           </div>
      </td>
      <td>hello</td>
      <td>hi</td>
  </tr>
  <tr>
    <td>this is not a long text</td>
    <td>two</td>
    <td>three</td>
  </tr>
  <tr>
    <td>this is not a long text</td>
    <td>two</td>
    <td>three</td>
  </tr>
</table>
<router-outlet></router-outlet>
